@font-face {
  font-family: "Pusab";
  src: url("c:\Users\User\OneDrive\Área de Trabalho\documents apartamento\2EM1\8-bit-pusab.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Pusab", sans-serif;
}