@font-face {
  font-family: "Pusab";
  src: url("../fonts/8-bit-pusab.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Pusab", sans-serif;
}

/* font colors and size */
h1 {
  color: var(--text-md);
  font-size: 1.2rem;
}

h2 {
  color: var(--text-md);
  font-size: 0.75rem;
}
.player h2 {
  color: var(--text-sm);
  font-size: 0.75rem;
}

p {
  color: var(--text-md);
  font-size: 1.125rem;
}

h3 {
  color: var(--text-warning);
}

button {
  color: var(--text-md);
  background-color: var(--buttons-color);
}

.counter {
  font-size: 1.25rem;
}