/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* inherit font-family */
input,
button,
textarea {
  font-family: inherit; 
}

/* colors */
:root {
  --bg-color:#000000;

  --text-warning: #FB0203; 
  --text-sm: #F9E231;
  --text-md:#FFFFFF;
  --text-bubble: black;

  --buttons-color: #FB0203;
  --select-correct-color: #F7C30F;
  --select-wrong-color: #FB02034D;
  --correct-option-color:#01E32E;
}

html {
  text-transform: uppercase;
}

body {
  background-color: var(--bg-color);
  width: 100%;   
  height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}




