.big-logo{
  display: flex;
  justify-content: center;
}
.big-logo img {
  width: 19.75rem;
  height: 9.8125rem;
}
.start-central-part {
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-button-container {
  display: flex;
  justify-content: center;
}
.start-button {
  width: 11.25rem;
  height: 3rem;
  padding: 0.5rem;
  margin-top: 3rem;
  cursor: pointer;
}

.start-button:hover {
   transform: scale(1.1);
}

.warning {
  display: flex;
  margin-top: 0.625rem;
  color: var(--text-warning);
  font-size: 0.5625rem;
}

#warning-player1, #warning-player2 {
  display: none;
}

/* input setup */
input {
  color: var(--text-md);
  width: 12rem;   
  height: 2.5rem; 
  padding: 0.5rem 1rem;
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid var(--text-md);
  text-align: center;
  outline: none;
}
input::placeholder {
  font-size: 1rem;
  color: var(--text-md);
  opacity: 1;
}
input:focus::placeholder {
  color: transparent; 
}





